:root {
	--white: #fff;
	--black: #000;
	--primary-clr: #e71d36;
	--primary-clr-opacity: rgb(231, 29, 54, 0.2);
	--dark: #0d1321;
	/* --skeleton-color: #d3d8dc; */
	--skeleton-color: rgba(211, 216, 220, 0.561);
	--skeleton-color-opacity: rgba(211, 216, 220, 0.1);
	--border-clr: #0101012e;
}

/* main */
.banner {
	height: auto;
	overflow: hidden;
	position: relative;
}
@media all and (min-width: 768px) {
	.banner {
		height: 590px;
	}
}
.banner .banner-image {
	filter: brightness(0.5);
}
.banner .banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	translate: -50% -50%;
	z-index: 1;
}
main .main-inner section:not(section.image-background) {
	padding: 4pc 0 0;
	margin-bottom: 2rem;
	scroll-snap-align: center;
}
.search-section {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	translate: -50% -50%;
	z-index: 1;
}
.search-section .form-input {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}
.search-section .form-input .form-control {
	border-radius: 4px 0 0 4px;
	min-height: 3rem;
	border-right: 0;
	-webkit-transition: 100ms ease;
	-moz-transition: 100ms ease;
	-ms-transition: 100ms ease;
	-o-transition: 100ms ease;
	transition: 100ms ease;
}
.search-section .form-input .form-control::placeholder {
	font-size: 14px;
}
.search-section .form-control:focus {
	box-shadow: none;
	border: 2px solid var(--primary-clr);
}
.search-section form button {
	border-radius: 0 4px 4px 0;
	height: 3rem;
	padding: 0 2rem;
	border: none;
	background-color: var(--primary-clr);
	color: var(--white);
	font-size: 1rem;
}
.search-section form {
	width: 90%;
	margin-inline: auto;
}
@media all and (min-width: 768px) {
	.search-section form {
		width: 60%;
	}
}
.search-section form h3 {
	color: var(--white);
}
.all-sections .movie-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	margin-top: 3rem;
	gap: 2rem;
}

.all-sections .section-header a {
	color: var(--primary-clr);
}
.all-sections .section-header a:hover {
	text-decoration: underline;
}
.movie-wrapper .each-movie {
	color: var(--dark);
}
.movie-wrapper .each-movie:hover {
	scale: 1.02;
}
.movie-wrapper .movie-image-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
}
.movie-wrapper .each-movie img {
	object-fit: cover;
	aspect-ratio: 16 / 10;
}
.each-movie-inner .movie-content {
	padding: 1rem 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	color: var(--light-dark);
}
.movie-content .movie-title {
	color: var(--dark);
	font-weight: 600;
	font-size: 0.9rem;
}
.movie-content svg {
	line-height: 1;
	display: flex;
	color: var(--primary-clr);
	font-size: 1rem;
}
.movie-content .inner-content .right {
	column-gap: 0.8em;
}
.movie-content :is(.rating, .movie-length) {
	column-gap: 3px;
	white-space: nowrap;
}

/* above should be fixed if deleted away from the dom */

@media all and (max-width: 426px) {
	html {
		font-size: 15px;
	}
	.banner .banner-image img {
		height: 400px;
		object-fit: cover;
	}
	header #logo em svg {
		width: 10rem;
	}
	.inner-content {
		flex-wrap: wrap;
	}
	.form-control::placeholder {
		font-size: 0.8rem !important;
	}
}

.skeleton {
	background-color: var(--skeleton-color);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.skeleton-image {
	aspect-ratio: 1 / 1;
}
.skeleton-title {
	aspect-ratio: 16 / 9;
	height: 20px;
	margin-top: 10px;
	width: 80%;
}
.skeleton-release-date {
	width: 50%;
	height: 0.8rem;
}
.skeleton-like {
	height: 0.8rem;
	width: 20%;
}
.skeleton::before {
	content: "";
	height: 100%;
	position: absolute;
	width: 35%;
	transform-origin: bottom right;
	animation: go-right 2s forwards infinite;
	background-image: linear-gradient(90deg, var(--skeleton-color-opacity), #f8f8f8db, var(--skeleton-color-opacity));
}
@keyframes go-right {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(300%);
	}
}

/*trending section */
.trending-section > div:has(> h4) h4 {
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	font-size: 1.4rem;
}
.trending-section ul.nav-pills {
	border: 1px solid var(--border-clr);
	width: max-content;
	border-radius: 100vw;
}
.trending-section li.nav-item:not(:last-child) {
	margin-right: 1rem;
}
.trending-section li.nav-item button {
	font-size: 0.85rem;
	border-radius: 100vw;
	line-height: 1.6;
	color: var(--dark);
	transition: 250ms ease-in-out;
}
.trending-section li.nav-item button:hover {
	background-color: var(--primary-clr-opacity);
}
@media screen and (min-width: 425px) {
	.trending-section li.nav-item button {
		padding: 0.6rem 2.2rem;
	}
}
.trending-section li.nav-item button.active {
	background-color: var(--primary-clr);
}
.trending-section .tab-content {
	margin-top: 2rem;
}
.swiper-slide li.movie {
	max-width: 300px;
	border-radius: 8px;
	aspect-ratio: 1 / 1.5;
	height: auto;
}
.swiper-slide li.movie a > div {
	overflow: hidden;
	border-radius: 8px;
}
.swiper-slide li.movie img {
	transition: all 280ms ease;
}
.swiper-slide li.movie:hover img {
	scale: 1.15;
}
.swiper-button-next,
.swiper-button-prev {
	background: url("https://api.iconify.design/ph/arrow-right.svg?color=%23e71d36") no-repeat center center / contain;
	width: 2.1rem !important;
	height: 2.1rem !important;
	padding: 10px;
	border-radius: 100vw;
	background-color: rgba(255 255 255 / 0.5);
	backdrop-filter: blur(2px);
	transition: 280ms ease-in-out;
}
.swiper-button-prev {
	rotate: 180deg;
}
:is(.swiper-button-next, .swiper-button-prev)::after {
	display: none;
}
:is(.swiper-button-next, .swiper-button-prev):hover {
	background-color: var(--primary-clr-opacity);
}

/* tv-show */
.tv-show {
	margin: 5rem 0;
}
.tv-show .image-background {
	background-image: url(../images/slider1.jpg);
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 33%;
	margin-top: 2rem;
	transition: all 300ms ease-in-out;
}
.tv-show .image-background::before {
	position: absolute;
	inset: 0;
	background-color: rgba(0 0 0 / 70%);
	content: "";
}
.tv-show .image-background > div {
	height: 100%;
}
.tv-show span {
	color: white;
}
.tv-show-image {
	border-radius: 8px;
	overflow: hidden;
	max-width: 300px;
	aspect-ratio: 1 / 1.5;
}
.tv-show .swiper {
	border-radius: 8px;
}
.tv-show .swiper .tv-image {
	max-width: 350px;
	overflow: hidden;
	border-radius: 8px;
	margin-inline: auto;
	position: relative;
}
.tv-show .swiper .tv-image .before {
	position: absolute;
	inset: 0;
	background-color: rgba(0 0 0 / 40%);
	transition: 280ms ease-out;
	display: grid;
	place-content: center;
	transform: translateY(100%);
}
.tv-show .swiper li:hover .before {
	transform: translateY(0);
}
.tv-show .swiper .before svg {
	font-size: 1.7rem;
	color: var(--white);
	transition: 280ms ease-in-out;
}
.tv-show .swiper li .before svg:hover {
	color: var(--primary-clr);
}
.tv-show .swiper li {
	position: relative;
}
.tv-show .swiper li .after {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: var(--white);
	margin-top: 5px;
	gap: 3px;
}
.tv-show .swiper li .after h5 {
	color: currentColor;
}
.tv-show .swiper .tv-image img {
	aspect-ratio: 17 / 9;
	object-fit: cover;
}
.tv-show .swiper li a .show-name {
	margin-top: 1rem;
	word-wrap: break-word;
}
.tv-show .swiper li a .show-name h6 {
	color: var(--white);
}
