:root {
	--white: #fff;
	--black: #000;
	--primary-clr: #e71d36;
	--dark: #0d1321;
	/* --skeleton-color: #d3d8dc; */
	--skeleton-color: rgba(211, 216, 220, 0.561);
	--skeleton-color-opacity: rgba(211, 216, 220, 0.1);
	--border-clr: #0101012e;
}
* {
	letter-spacing: -0.3px;
}
/* check if the form is active and give the button overflow of hidden */
body {
	transition: 290ms ease;
}
/* body:has(.search-layer.active) {
	overflow-y: hidden;
} */
.search-layer {
	display: none;
	inset: 0;
	z-index: 190;
	background-color: rgba(0 0 0 / 70%);
	overflow: hidden;
	height: 100%;
	backdrop-filter: blur(1.5px);
}
.search-layer .cancel-button button {
	position: absolute;
	right: 0;
	top: 0;
	color: var(--white);
	translate: -2rem 2rem;
}
.search-layer .cancel-button button svg {
	transition: all 280ms ease-in-out;
	font-size: 3.4rem;
	border-radius: 100vw;
	padding: 0.2rem;
}
.search-layer .cancel-button button:hover svg {
	backdrop-filter: blur(2px);
	background-color: rgba(255 255 255 / 10%);
}
.search-layer-inner {
	margin-top: 16%;
	width: 70%;
	margin-inline: auto;
}
@media screen and (max-width: 600px) {
	.search-layer-inner {
		margin-top: 48%;
	}
}
.search-layer-inner h2 {
	color: var(--white);
	font-size: 2rem;
	position: relative;
}
.search-layer-inner form .form-floating {
	margin-top: 2.5rem;
}
.search-layer-inner form .form-control {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--white);
	border-radius: 0;
	font-size: 1.4rem;
	color: var(--white);
	padding: 1rem 0.75rem 1rem 0;
}
.search-layer-inner form .form-control:focus {
	box-shadow: none;
}
.search-layer-inner form .form-control + label {
	color: var(--white);
	padding: 1rem 0.75rem 1rem 0;
}
.search-layer-inner form .form-control:focus + label {
	padding: 1rem 0.75rem 1rem 0;
	transform: translateY(-1.8rem) scale(0.85);
}
@media screen and (min-width: 768px) {
	.search-layer-inner form .form-control:focus {
		border-color: var(--primary-clr);
	}
}
.search-layer-inner .form-input {
	margin-top: 2rem;
	text-align: center;
}
.search-layer-inner [type="submit"] {
	background-color: var(--primary-clr);
	margin-inline: auto;
	text-align: center;
	border-radius: 100vw;
	color: var(--white);
	padding: 1rem;
	width: 90%;
}
@media all and (min-width: 600px) {
	.search-layer-inner [type="submit"] {
		width: 40%;
	}
}
.movie-item > div {
	row-gap: 3rem;
}
main .main-inner section {
	padding: 4pc 0 0;
	margin-bottom: 2rem;
	scroll-snap-align: center;
}
.swiper {
	aspect-ratio: 16 / 9;
}
@media screen and (max-width: 425px) {
	.swiper {
		max-width: 80%;
	}
	.search-layer-inner h2 {
		font-size: 1.3rem;
	}
}
@media screen and (min-width: 426px) {
	.swiper {
		max-width: 75%;
		margin-inline: auto;
	}
}
.movie-details,
.movie-overview {
	display: flex;
	flex-direction: column;
}
.movie-details {
	row-gap: 4rem;
}
.movie-overview {
	row-gap: 2rem;
}
:is(.movie-summary p, .little-content > div span) {
	font-size: 14px;
}
.movie-overview .thriller {
	overflow: hidden;
}
.movie-overview .thriller #thriller-video {
	background-color: var(--skeleton-color);
	border-radius: 12px;
	width: 100%;
	aspect-ratio: 16 /9;
}
/* other movie recommendations */
:is(.recommendations, .casts) {
	margin-top: 4rem;
}
:is(.recommendations, .casts) .grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
	gap: 1.2rem;
	margin-top: 1.8rem;
}
.grid-wrapper :is(.grid-movie-item, .grid-cast-item) img {
	aspect-ratio: 3 / 4;
	object-fit: cover;
	transition: 280ms ease-in-out;
}
.grid-wrapper .grid-cast-image {
	position: relative;
}
.grid-wrapper .grid-cast-image .link-layer {
	inset: 0;
	background-color: rgba(0 0 0 / 50%);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms ease;
	transform: scaleY(0);
	transform-origin: bottom;
}
.grid-wrapper .grid-cast-item:hover .link-layer {
	transform: scaleY(1);
}
.grid-wrapper .link-layer svg {
	font-size: 2rem;
	color: var(--white);
	transition: color 300ms ease;
}
.grid-wrapper .link-layer svg:hover {
	color: var(--primary-clr);
}
.grid-wrapper .grid-movie-item:hover img {
	scale: 1.1;
	rotate: -3deg;
}
.grid-wrapper :is(.grid-movie-item, .grid-cast-item) :is(.title, .name) {
	color: var(--dark);
	word-wrap: break-word;
	margin-top: 5px;
}

/* recommendation skeleton */
.skeleton {
	background-color: var(--skeleton-color);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.skeleton-image {
	aspect-ratio: 1 / 1.3;
}
.skeleton-title {
	aspect-ratio: 16 / 9;
	height: 14px;
	margin-top: 10px;
	width: 80%;
}
.skeleton::before {
	content: "";
	height: 100%;
	position: absolute;
	width: 35%;
	transform-origin: bottom right;
	animation: go-right 2s forwards infinite;
	background-image: linear-gradient(90deg, var(--skeleton-color-opacity), #f8f8f8db, var(--skeleton-color-opacity));
}
@keyframes go-right {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(300%);
	}
}
