:root {
	--white: #fff;
	--black: #000;
	--dark-theme: #003566;
	--primary-clr: #e71d36;
	--dark: #0d1321;
	--light-dark: #1d2d44;
}
footer .footer-inner {
	padding: 1rem 0;
	background-color: var(--primary-clr);
}
.footer-inner .copy-right span {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	justify-content: center;
	color: var(--white);
}
.footer-inner .copy-right span em {
	line-height: 1;
	display: flex;
	margin: 0 4px;
}
