:root {
	--white: #fff;
	--black: #000;
	--primary-clr: #e71d36;
	--primary-clr-opacity: rgb(231, 29, 54, 0.2);
	--dark: #0d1321;
	/* --skeleton-color: #d3d8dc; */
	--skeleton-color: rgba(211, 216, 220, 0.561);
	--skeleton-color-opacity: rgba(211, 216, 220, 0.1);
	--border-clr: #0101012e;
	--grey: rgb(117 118 119 / 82%);
}

/* layer */
.layer {
	position: fixed;
	width: 100%;
	background-color: var(--primary-clr);
	z-index: 199;
	inset: 0;
}
.search-layer {
	display: none;
	inset: 0;
	z-index: 190;
	background-color: rgba(0 0 0 / 70%);
	overflow: hidden;
	height: 100%;
	backdrop-filter: blur(1.5px);
}
.search-layer .cancel-button button {
	position: absolute;
	right: 0;
	top: 0;
	color: var(--white);
	translate: -2rem 2rem;
}
.search-layer .cancel-button button svg {
	transition: all 280ms ease-in-out;
	font-size: 3.4rem;
	border-radius: 100vw;
	padding: 0.2rem;
}
.search-layer .cancel-button button:hover svg {
	backdrop-filter: blur(2px);
	background-color: rgba(255 255 255 / 10%);
}
.search-layer-inner {
	margin-top: 16%;
	width: 70%;
	margin-inline: auto;
}
@media screen and (max-width: 600px) {
	.search-layer-inner {
		margin-top: 48%;
	}
}
.search-layer-inner h2 {
	color: var(--white);
	font-size: 2rem;
	position: relative;
}
.search-layer-inner form .form-floating {
	margin-top: 2.5rem;
}
.search-layer-inner form .form-control {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--white);
	border-radius: 0;
	font-size: 1.4rem;
	color: var(--white);
	padding: 1rem 0.75rem 1rem 0;
}
.search-layer-inner form .form-control:focus {
	box-shadow: none;
}
.search-layer-inner form .form-control + label {
	color: var(--white);
	padding: 1rem 0.75rem 1rem 0;
}
.search-layer-inner form .form-control:focus + label {
	padding: 1rem 0.75rem 1rem 0;
	transform: translateY(-1.8rem) scale(0.85);
}
@media screen and (min-width: 768px) {
	.search-layer-inner form .form-control:focus {
		border-color: var(--primary-clr);
	}
}
.search-layer-inner .form-input {
	margin-top: 2rem;
	text-align: center;
}
.search-layer-inner [type="submit"] {
	background-color: var(--primary-clr);
	margin-inline: auto;
	text-align: center;
	border-radius: 100vw;
	color: var(--white);
	padding: 1rem;
	width: 90%;
}
@media all and (min-width: 600px) {
	.search-layer-inner [type="submit"] {
		width: 40%;
	}
}

main {
	padding: 7.5rem 0 3rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
main .movie-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 2rem;
}

.movie-wrapper .each-movie {
	color: var(--dark);
}
.movie-wrapper .each-movie:hover {
	scale: 1.02;
}
.movie-wrapper .movie-image-wrapper {
	position: relative;
	width: 100%;
}
.movie-wrapper .movie-image-wrapper-inner {
	border-radius: 8px;
	overflow: hidden;
}
.movie-wrapper .movie-image-wrapper .vote-average {
	bottom: -1.15rem;
	right: 1rem;
	color: var(--white);
	border-radius: 100vw;
	aspect-ratio: 1 / 1;
	/* backdrop-filter: blur(0.5px); */
	border: 2px solid var(--primary-clr);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	/* From https://css.glass */
	background: rgba(99, 99, 99, 0.36);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(6.5px);
	/* border: 1px solid rgba(231, 29, 54, 0.09); */
}
.movie-wrapper .each-movie img {
	object-fit: cover;
	aspect-ratio: 16 / 10;
	position: relative;
}
.each-movie-inner .movie-content {
	padding: 1rem 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	color: var(--light-dark);
}
.movie-content .movie-title {
	color: var(--dark);
	font-weight: 600;
	font-size: 0.9rem;
}
.movie-content .date {
	column-gap: 4px;
}
.movie-content .inner-content em {
	line-height: 1;
	display: flex;
	font-size: 1rem;
}
.movie-content .date em {
	color: var(--grey);
	font-size: 1.1rem;
}
.movie-content .date span {
	line-height: 1;
	margin-bottom: -2px;
}
.movie-content .inner-content .right em {
	color: var(--primary-clr);
}
.movie-content .inner-content .right {
	column-gap: 0.8em;
}
.movie-content :is(.rating, .movie-length) {
	column-gap: 3px;
	white-space: nowrap;
}

/* skeleton loader */
.skeleton {
	background-color: var(--skeleton-color);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.skeleton-image {
	aspect-ratio: 1 / 1;
}
.skeleton-title {
	aspect-ratio: 16 / 9;
	height: 20px;
	margin-top: 10px;
	width: 80%;
}
.skeleton-release-date {
	width: 50%;
	height: 0.8rem;
}
.skeleton-like {
	height: 0.8rem;
	width: 20%;
}
.skeleton::before {
	content: "";
	height: 100%;
	position: absolute;
	width: 35%;
	transform-origin: bottom right;
	animation: go-right 2s forwards infinite;
	background-image: linear-gradient(90deg, var(--skeleton-color-opacity), #f8f8f8db, var(--skeleton-color-opacity));
}
@keyframes go-right {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(300%);
	}
}

.read_more {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
}
.read_more button {
	font-size: 0.9rem;
	background-color: var(--primary-clr);
	color: var(--white);
	border-radius: 100vw;
	padding: 0.8rem 3rem;
}
